/* --------- Toggle options container ---------- */
#toggle-options-container {
    position: fixed;
    width: 70px;
    top: 100px;
    right:20px;
    padding: 10px;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    z-index: 9999900;
    /* border: 1px solid black; */
}

#toggle-options-container:hover {
    /* transition:all 3s ease-in-out; */
    /* cursor:url("icons/drag.png"), auto; */
}

/* --------- Cancel Button ---------- */
#cancel-button-math-paste {
    position:absolute;
    top:2px;
    right:2px;
    width: 15px;
    height: 15px;
    padding: 1px;
    z-index: 9999999;
    cursor: pointer;
}

#cancel-math-paste {
    width:90%;
    height:90%;
    z-index: 9999999;
    opacity: 0.6;
}


/* --------- Toggle Section --------- */
#toggle-math-paste {
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:white;
    z-index:9999999;
    cursor:pointer;
    border: 3px solid rgba(79, 78, 78, 0.089);
    display:flex;
    align-items: center;
    justify-content: center;
}

#toggle-math-paste:hover{
    transition:all;
    border-color: #74AA9C;
}


/* --------- Options Section ---------- */
.option-math-paste {
    width:40px;
    height:40px;
    border-radius:50%;
    background-color: white;
    z-index:9999999;
    cursor: pointer;
    text-align: center;
    align-items: center;
    display: none;
    justify-content: center;
    border: 2px solid rgba(79, 78, 78, 0.089);
    /* display:none; */
}

.option-math-paste:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    border: 2px solid #74AA9C;
}

#Obsidian {
    width:80%;
    height: 80%;
}

#Notion {
    width:55%;
    height: 55%;
}

#LaTex {
    width:80%;
    height: 80%;
}

#None {
    width:80%;
    height: 80%;
}